
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
body{
    background-size: cover;
    background-position: center;
}
canvas{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
}
.links{
    font-size: 20px;
    width: 30%;
    text-decoration: none;
}

#back{
    float: right;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 20px;

}


.gradient{
    background-image: linear-gradient(to bottom right, wheat, white, lightpink);
}